# Скопируйте этот файл в .env и заполните своими ключами
# cp .env.example .env

OPENAI_API_KEY=sk-...
ANTHROPIC_API_KEY=sk-ant-...
GROQ_API_KEY=gsk_...
OPENROUTER_API_KEY=
HF_TOKEN=hf_ваш_токен
HTTPS_PROXY=здесь_можете_указать_прокси_если_нужно
GIGACHAT_CREDENTIALS=здесь_можете_указать_учетные_данные_для_gigachat_если_нужно
